#title{
	 font-size: 13px;
	 font-weight: bold;
	 font-style: italic;
}

#pmid{
     height:0px; 
}

#refBox{
	 width: 400px;
     font-size:12px;
     font-family:Arial, Gadget, sans-serif;
     line-height: normal;
     border-color: black;
     border-width: 0.2px;
     
}

#authors{
	 height: 0px;
	 font-style: italic;
}